precomputed_results/25-50/skani_clf_*
precomputed_results/25-50/fastani-frag*
precomputed_results/25-50/c125*
precomputed_results/25-50/c90*
precomputed_results/25-50/c60*
*ml.ipynb
notebooks/.ipynb*

